<!-- <div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">COMECIENCIA</h1>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Foundation</label></li>
        <li><a href="#">The Psychohistorians</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </aside>
 -->
    <section class="main-section">
      	<div class="row">
			<div class="large-12 columns">
				<h2> <center>DESCUBRA QUAL DIETA COMBINA COM VOCÊ!</center></h2>
				<h5> <center>Já fez o teste? Faca o login <%= link_to 'aqui', login_user_path, {style: "color: blue"}%> para acessar sua dieta.</center></h5>
			</div>
		</div>
	 
		<%= render 'form' %>
    </section>
<!-- 
  <a class="exit-off-canvas"></a>

  </div>
</div>

 -->