<div class="row large-centered column text-center">
	<div class="large-12 columns">
		<h2>CRIAR UMA NOVA RECEITA</h2>
	</div>
</div>
 
<%= render 'form' %>

<div class="row">
<div class="large-12 columns">
  <div class="clearfix">
      <%= link_to 'Back', recipes_path, {class:"small secondary button"} %>
  </div>
</div>
</div>