<%= render 'form' %>

<div class="row">
	<div class="large-12 columns">
	  <div class="clearfix">
	      <p>Passo 2 de 2 <%= link_to 'Continuar', discover_diet_path(@person), class:"small button right" %></p>
	  </div>
	</div>
</div>