<%= render 'form' %>
 
 <div class="row">
	<div class="large-12 columns">
		<p>Passo 3 de 5 <%= link_to 'Continuar', list_fats_food_path(@person) %></p>
		<p><%= link_to 'Back', list_carbs_food_path(@person) %></p>
	</div>
</div>