<%= render 'form_one' %>

<div class="row marginTop50">
	<div class="large-12 columns">
	  <div class="clearfix">
	  	<center>
	      <h5><%= link_to 'Ver Resultado', discover_diet_path(@person), {class:"small button", style: "color:#FFFFFF;"} %></h5>
	    </center>
	  </div>
	</div>
</div>