/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

div.hidden { display:none;}

/* Change color of required labels to red */
 label.required:after {
    content: " *";
    color: red;
}

/* Change input placeolder color */
::-webkit-input-placeholder {
    color: #d6d6d6;
    opacity: 1 !important; /* for chrome */
}

:-moz-placeholder { /* Firefox 18- */
    color: #d6d6d6;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #d6d6d6;
}

:-ms-input-placeholder {  
   color: #d6d6d6;
}

/*Change like image on hover*/
.like {
    display: inline-block;
    width: 70;
    height: 70;
    background: url('/assets/heart-empty.png');
}

.like:hover {
    background: url('/assets/heart-full.png');
}

/*Change cross image on hover*/
.cross {
    display: inline-block;
    width: 70;
    height: 70;
    background: url('/assets/cross-empty.png');
}

.cross:hover {
    background: url('/assets/cross-full.png');
}

/* Margin Top 50 */
div.row.marginTop50 {
  margin-top: 50px;
}

/* Margin Top 20 */
div.row.marginTop20 {
  margin-top: 20px;
}

.circular {
    width:70px;
    height: 70px;
    border-radius: 35px;
    -webkit-border-radius: 35;
    -moz-border-radius: 35;
    border: 1px solid gray;
}

body {
  background: #F0F0F0;
}
.login-box {
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}